@import url("https://fonts.googleapis.com/css?family=Vast+Shadow");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Oxygen");


.end-screen h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 45px;
    color: #E3AE57;
}

.end-screen p {
    margin: 0;
    font-family: 'Vast Shadow', cursive;
    font-size: 200px;
    color: #DC3D24;
}

.btn-again {
    margin: 25px auto;
    background-color: #DC3D24;
    padding: 15px 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 27px;
    letter-spacing: 6px;
    color: white;
    border: none;
    border-radius: 13px;
}

@media only screen and (max-width: 300px) {
    
    .end-screen h2 {
        font-size: 27px;
    }
    
    .end-screen p {
        font-size: 135px;
    }

    .btn-again {
        font-size: 20px;
    }

}

@media only screen and (min-width: 301px) and (max-width: 470px) {
    .end-screen h2 {
        font-size: 27px;
    }

    .end-screen p {
        font-size: 160px;
    }
}